@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

* {
  font-family: Montserrat, serif;
}

.mont-base {
  font-family: Montserrat, serif;
}

.mont-thin {
  font-family: "Montserrat Thin", serif;
}

.mont-bold {
  font-family: "Montserrat Bold", serif;
}